name: Latest blog post workflow
on:
  workflow_dispatch: {}      # Allows manual trigger
  schedule:
    - cron: '0 0 1 1,3,5,7,9,11 *'
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          max_post_count: "5"
          feed_list: "https://wasii.dev/feed.xml"
